<div class="panel panel-primary" ng-if="pics.buckets.length > 0">
  <div class="panel-heading">Uploading from client</div>
  <div class="panel-body">
    <div class="field">
      <div class="input-group">
        <span class="input-group-addon">File</span>
        <input class="form-control" id="file" name="file" type="file" />
      </div>
    </div>
    <br />
    <form accept-charset="UTF-8" ng-submit="uploadCtrl.uploadPicture(pics)">
      <input ng-model="uploadCtrl.file_name" id="file_name" name="file_name" type="hidden" />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Bucket Name</span>
          <select class="form-control" id="bucket" name="bucket">
            <option ng-repeat="bucket in pics.buckets" value="{{ bucket }}">{{ bucket }}</option>
          </select>
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Retention to apply to protect the picture</span>
          <input ng-model="uploadCtrl.retention" class="form-control" id="retention" name="retention" placeholder="in days" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">File size</span>
          <input ng-model="uploadCtrl.file_size" class="form-control" id="file_size" name="file_size" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Image Width</span>
          <input ng-model="uploadCtrl.image_width" class="form-control" id="image_width" name="image_width" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Image Height</span>
          <input ng-model="uploadCtrl.image_height" class="form-control" id="image_height" name="image_height" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">GPS Latitude</span>
          <input ng-model="uploadCtrl.gps_latitude" class="form-control" id="gps_latitude" name="gps_latitude" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">GPS Longitude</span>
          <input ng-model="uploadCtrl.gps_longitude" class="form-control" id="gps_longitude" name="gps_longitude" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Datetime</span>
          <input ng-model="uploadCtrl.datetime" class="form-control" id="datetime" name="datetime" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="actions">
        <input class="btn btn-primary" id="submit_button" name="commit" onclick='$("#submit_button").hide();' style="display:none;" type="submit" value="Upload file" ng-disabled="loadingService.isLoading()" />
      </div>
    </form>
  </div>
  <script type="text/javascript">
    var extractMetadata = function(exifObject) {
      console.log(exifObject);
      $("#image_width").val(exifObject.ImageWidth);
      $("#image_height").val(exifObject.ImageHeight);
      latitude = parseFloat(exifObject.GPSLatitude[0]) + parseFloat(exifObject.GPSLatitude[1]) / 60 + parseFloat(exifObject.GPSLatitude[2]) / 3600;
      if(exifObject.GPSLatitudeRef == "S") {
        latitude = - latitude;
      }
      longitude = parseFloat(exifObject.GPSLongitude[0]) + parseFloat(exifObject.GPSLongitude[1]) / 60 + parseFloat(exifObject.GPSLongitude[2]) / 3600;
      if(exifObject.GPSLongitudeRef == "W") {
        longitude = - longitude;
      }
      $("#gps_latitude").val(latitude);
      $("#gps_longitude").val(longitude);
      $("#datetime").val(exifObject.DateTime);
    }

    function getThumbnail(original, scale) {
      var canvas = document.createElement("canvas")

      canvas.width = original.width * scale
      canvas.height = original.height * scale

      canvas.getContext("2d").drawImage
        (original, 0, 0, canvas.width, canvas.height)

      return canvas
    }

    function decodeBase64(s) {
      var e={},i,b=0,c,x,l=0,a,r='',w=String.fromCharCode,L=s.length;
      var A="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
      for(i=0;i<64;i++){e[A.charAt(i)]=i;}
      for(x=0;x<L;x++){
        c=e[s.charAt(x)];b=(b<<6)+c;l+=6;
        while(l>=8){((a=(b>>>(l-=8))&0xff)||(x<(L-2)))&&(r+=w(a));}
      }
      return r;
    };

    function b64toBlob(b64Data, contentType, sliceSize) {
      contentType = contentType || '';
      sliceSize = sliceSize || 512;

      //var byteCharacters = atob(b64Data);
      var byteCharacters = decodeBase64(b64Data);
      var byteArrays = [];

      for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        var slice = byteCharacters.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
      }

      var blob = new Blob(byteArrays, {type: contentType});
      return blob;
    }
    var thumbnailData;
    var thumbnail;
    $(document).ready(function() {
      $('#file').change(function() {
        $("#gps_latitude").val("");
        $("#gps_longitude").val("");
        $("#datetime").val("");
        file = this.files[0];
        $("#file_size").val(file.size);
        $("#file_name").val(file.name);
        var reader = new FileReader();
        reader.onload = function (e) {
            var image  = new Image();
            image.src = e.target.result;
            //console.log(e.target.result);
            image.onload = function() {
              $("#image_width").val(image.width);
              $("#image_height").val(image.height);
              /*
              thumbnail = getThumbnail(image, 1/10);
              var contentType = file.type;
              var readerData = new FileReader();
              readerData.onload = function (eData) {
                thumbnailData = b64toBlob(eData.target.result, contentType);
                console.log(thumbnailData);
              };
              readerData.readAsArrayBuffer(thumbnail);
              */
              /*
              thumbnail = getThumbnail(image, 1/10);
              document.body.appendChild(thumbnail);
              var contentType = file.type;
              var dataURL = thumbnail.toDataURL(contentType);
              console.log(dataURL);
              thumbnailData = b64toBlob(dataURL, contentType);
              $("#file_size").val(thumbnailData.size);
              */
              //http://stackoverflow.com/questions/16245767/creating-a-blob-from-a-base64-string-in-javascript
            };
        };
        reader.readAsDataURL(file);

        $(this).fileExif(extractMetadata);
        if($("#bucket").size() > 0) {
          $("#submit_button").show();
        }
      });
    });
  </script>
</div>
