<div class="panel panel-primary" ng-if="pics.buckets.length > 0">
  <div class="panel-heading">Uploading from client</div>
  <div class="panel-body">
    <div class="field">
      <div class="input-group">
        <span class="input-group-addon">File</span>
        <input class="form-control" id="file" name="file" type="file" />
      </div>
    </div>
    <br />
    <form accept-charset="UTF-8" ng-submit="uploadCtrl.uploadPicture(pics)">
      <input ng-model="uploadCtrl.file_name" id="file_name" name="file_name" type="hidden" />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Bucket Name</span>
          <select class="form-control" id="bucket" name="bucket">
            <option ng-repeat="bucket in pics.buckets" value="{{ bucket }}">{{ bucket }}</option>
          </select>
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Retention to apply to protect the picture</span>
          <input ng-model="uploadCtrl.retention" class="form-control" id="retention" name="retention" placeholder="in days" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">File size</span>
          <input ng-model="uploadCtrl.file_size" class="form-control" id="file_size" name="file_size" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Image Width</span>
          <input ng-model="uploadCtrl.image_width" class="form-control" id="image_width" name="image_width" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Image Height</span>
          <input ng-model="uploadCtrl.image_height" class="form-control" id="image_height" name="image_height" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">GPS Latitude</span>
          <input ng-model="uploadCtrl.gps_latitude" class="form-control" id="gps_latitude" name="gps_latitude" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">GPS Longitude</span>
          <input ng-model="uploadCtrl.gps_longitude" class="form-control" id="gps_longitude" name="gps_longitude" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Datetime</span>
          <input ng-model="uploadCtrl.datetime" class="form-control" id="datetime" name="datetime" placeholder="will be filled when a file will be selected" readonly="readonly" type="text" />
        </div>
      </div>
      <br />
      <div class="actions">
        <button id="submit_button" onclick='$("#submit_button").hide();' style="display:none;" class="btn btn-primary has-spinner" ng-disabled="loadingService.isLoading()" ng-class="{'active': loadingService.isLoading()}">
          <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
          Upload file
        </button>
      </div>
    </form>
    <br />
    <div id="upload_status">
      <ul class="list-group">
        <li id="create_thumbnail_item" class="list-group-item" style="display: none;">
          Create thumbnail
          <span class="badge"><i class="fa fa-refresh fa-spin"></i></span>
        </li>
        <li id="extract_metadata_item" class="list-group-item" style="display: none;">
          Extract metadata
          <span class="badge"><i class="fa fa-refresh fa-spin"></i></span>
        </li>
        <li id="upload_thumbnail_item" class="list-group-item" style="display: none;">
          Upload thumbnail
          <span class="badge"><i class="fa fa-refresh fa-spin"></i></span>
        </li>
        <li id="upload_picture_item" class="list-group-item" style="display: none;">
          Upload picture
          <span class="badge"><i class="fa fa-refresh fa-spin"></i></span>
        </li>
      </ul>
    </div>
  </div>

  <script type="text/javascript">
    var extractMetadata = function(exifObject) {
      console.log(exifObject);
      $("#image_width").val(exifObject.ImageWidth);
      $("#image_height").val(exifObject.ImageHeight);
      latitude = parseFloat(exifObject.GPSLatitude[0]) + parseFloat(exifObject.GPSLatitude[1]) / 60 + parseFloat(exifObject.GPSLatitude[2]) / 3600;
      if(exifObject.GPSLatitudeRef == "S") {
        latitude = - latitude;
      }
      longitude = parseFloat(exifObject.GPSLongitude[0]) + parseFloat(exifObject.GPSLongitude[1]) / 60 + parseFloat(exifObject.GPSLongitude[2]) / 3600;
      if(exifObject.GPSLongitudeRef == "W") {
        longitude = - longitude;
      }
      $("#gps_latitude").val(latitude);
      $("#gps_longitude").val(longitude);
      $("#datetime").val(exifObject.DateTime);
    }

    function getThumbnail(original, scale) {
      var canvas = document.createElement("canvas")
      canvas.width = original.width * scale
      canvas.height = original.height * scale
      canvas.getContext("2d").drawImage
        (original, 0, 0, canvas.width, canvas.height)
      return canvas
    }

    var canvas;
    $(document).ready(function() {
      $('#file').change(function() {
        console.log("ok");
        $('#extract_metadata_item').hide();
        $('#create_thumbnail_item').hide();
        $('#upload_thumbnail_item').hide();
        $('#upload_picture_item').hide();
        $('#create_thumbnail_item > span > i').removeClass().addClass("fa fa-refresh fa-spin");
        $('#create_thumbnail_item').show();
        $("#gps_latitude").val("");
        $("#gps_longitude").val("");
        $("#datetime").val("");
        file = this.files[0];
        $("#file_size").val(file.size);
        $("#file_name").val(file.name);
        var reader = new FileReader();
        reader.onload = function (e) {
            var image  = new Image();
            image.src = e.target.result;
            image.onload = function() {
              $("#image_width").val(image.width);
              $("#image_height").val(image.height);
              canvas = getThumbnail(image, 1/10);
              $('#create_thumbnail_item > span > i').removeClass().addClass("glyphicon glyphicon-ok");
            };
        };
        reader.readAsDataURL(file);
        $('#extract_metadata_item > span > i').removeClass().addClass("fa fa-refresh fa-spin");
        $('#extract_metadata_item').show();
        $(this).fileExif(extractMetadata);
        $('#extract_metadata_item > span > i').removeClass().addClass("glyphicon glyphicon-ok");
        if($("#bucket").size() > 0) {
          $("#submit_button").show();
        }
      });
    });
  </script>
</div>
