<!DOCTYPE html>
<html lang="en">
<head>
  <title>ECSPics</title>
  <link rel="stylesheet" type="text/css" href="/app/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/app/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/app/css/app.css" />

  <script type="text/javascript" src="/app/javascript/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/app/javascript/bootstrap.min.js"></script>
  <script type="text/javascript" src="/app/javascript/angular.min.js"></script>
  <script type="text/javascript" src="/app/javascript/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="/app/javascript/angular-animate.min.js"></script>
  <script type="text/javascript" src="/app/javascript/jquery.exif.js"></script>
  <script type="text/javascript" src="/app/javascript/run_prettify.js"></script>
  <script type="text/javascript" src="/app/javascript/json2.js"></script>
  <script type="text/javascript" src="/app/javascript/app.js"></script>

  <style>
  h1 {
    max-height: 20%;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    text-align: center;
  }
  </style>
</head>
<body>

  <h1>{{.}}</h1>

</body>
</html>
